In [3]:
import pandas as pd
import numpy as np

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])
print s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [5]:
dates = pd.date_range('20130101',periods=6)
A = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
print A

                   A         B         C         D
2013-01-01  0.876317  0.968927 -0.060687  0.324196
2013-01-02 -1.640271 -0.323110  1.724294  1.088091
2013-01-03  1.348614  0.130017  1.236402  0.861774
2013-01-04  1.405509 -0.142500 -0.042044  1.317583
2013-01-05 -0.684659 -1.155904  1.277305  0.268771
2013-01-06 -1.233759 -0.035998 -0.556523  1.234189

In [6]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
                              'F' : 'foo' })

In [7]:
print df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [8]:
df2.columns
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [9]:
for column_name in df2.columns:
    print column_name

A
B
C
D
E
F

In [10]:
df2["A"]

0    1
1    1
2    1
3    1
Name: A, dtype: float64

In [11]:
df2["T"]=[1,2,"lalala","my"]

In [12]:
df2["T"]

0         1
1         2
2    lalala
3        my
Name: T, dtype: object

In [13]:
df2.max()

A                      1
B    2013-01-02 00:00:00
C                      1
D                      3
E                  train
F                    foo
T                     my
dtype: object

In [14]:
df2.max(axis=1)

0    3
1    3
2    3
3    3
dtype: float64

In [15]:
df2.mean(axis=0)

A    1
C    1
D    3
dtype: float64

In [16]:
df2.mean(axis=1)

0    1.666667
1    1.666667
2    1.666667
3    1.666667
dtype: float64

In [17]:
df2.head(1)

   A          B  C  D     E    F  T
0  1 2013-01-02  1  3  test  foo  1

In [18]:
df2.loc[0,:]

A                      1
B    2013-01-02 00:00:00
C                      1
D                      3
E                   test
F                    foo
T                      1
Name: 0, dtype: object

In [19]:
df2.loc[[0,1],["C","D"]]

   C  D
0  1  3
1  1  3

In [20]:
df2.loc[:,"D"]

0    3
1    3
2    3
3    3
Name: D, dtype: int32

In [21]:
df2.loc[:,"E"]

0     test
1    train
2     test
3    train
Name: E, dtype: object

In [22]:
df2.loc[:,"E"]=="test"

0     True
1    False
2     True
3    False
Name: E, dtype: bool

In [23]:
df2.loc[(df2.loc[:,"E"]=="test")&(df2.loc[:,"T"]=="lalala"),:]

   A          B  C  D     E    F       T
2  1 2013-01-02  1  3  test  foo  lalala

In [24]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [25]:
print df

                   A         B         C         D
2013-01-01 -0.924858 -1.132313 -0.437683  1.318022
2013-01-02 -2.208084  1.474452  1.121600 -1.763385
2013-01-03  0.650746 -0.996424  0.672410  0.112388
2013-01-04 -0.792754  0.090526 -0.831627 -0.631984
2013-01-05 -0.344350  1.280004  0.201738  0.048428
2013-01-06  0.296653 -0.704579 -1.212722  0.098726

In [26]:
df.values

array([[-0.92485799, -1.1323131 , -0.43768299,  1.31802219],
       [-2.20808422,  1.47445212,  1.12160008, -1.7633849 ],
       [ 0.65074618, -0.99642362,  0.67241022,  0.11238837],
       [-0.79275358,  0.09052619, -0.83162686, -0.63198382],
       [-0.34435006,  1.28000396,  0.20173843,  0.04842781],
       [ 0.29665286, -0.70457894, -1.21272192,  0.09872626]])

In [27]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  1.318022 -0.437683 -1.132313 -0.924858
2013-01-02 -1.763385  1.121600  1.474452 -2.208084
2013-01-03  0.112388  0.672410 -0.996424  0.650746
2013-01-04 -0.631984 -0.831627  0.090526 -0.792754
2013-01-05  0.048428  0.201738  1.280004 -0.344350
2013-01-06  0.098726 -1.212722 -0.704579  0.296653

In [28]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2013-01-01 -0.924858 -1.132313 -0.437683  1.318022
2013-01-02 -2.208084  1.474452  1.121600 -1.763385
2013-01-03  0.650746 -0.996424  0.672410  0.112388
2013-01-04 -0.792754  0.090526 -0.831627 -0.631984
2013-01-05 -0.344350  1.280004  0.201738  0.048428
2013-01-06  0.296653 -0.704579 -1.212722  0.098726

In [29]:
df.loc[dates[0]]

A   -0.924858
B   -1.132313
C   -0.437683
D    1.318022
Name: 2013-01-01 00:00:00, dtype: float64

In [37]:
df.loc[:,["A","B"]]

                   A         B
2013-01-01 -0.924858 -1.132313
2013-01-02 -2.208084  1.474452
2013-01-03  0.650746 -0.996424
2013-01-04 -0.792754  0.090526
2013-01-05 -0.344350  1.280004
2013-01-06  0.296653 -0.704579

In [40]:
df.iloc[2]

A    0.650746
B   -0.996424
C    0.672410
D    0.112388
Name: 2013-01-03 00:00:00, dtype: float64

In [41]:
df.A

2013-01-01   -0.924858
2013-01-02   -2.208084
2013-01-03    0.650746
2013-01-04   -0.792754
2013-01-05   -0.344350
2013-01-06    0.296653
Freq: D, Name: A, dtype: float64

In [43]:
df[df.A>0]

                   A         B         C         D
2013-01-03  0.650746 -0.996424  0.672410  0.112388
2013-01-06  0.296653 -0.704579 -1.212722  0.098726

In [54]:
s = pd.Series([1,3,5,np.nan,6,8],index=dates).shift(1)
print s

2013-01-01   NaN
2013-01-02     1
2013-01-03     3
2013-01-04     5
2013-01-05   NaN
2013-01-06     6
Freq: D, dtype: float64

In [57]:
s1 = pd.Series([1,3,5,np.nan,6,8],index=dates).shift(2)
print s1

2013-01-01   NaN
2013-01-02   NaN
2013-01-03     1
2013-01-04     3
2013-01-05     5
2013-01-06   NaN
Freq: D, dtype: float64

In [56]:
s0 = pd.Series([1,3,5,np.nan,6,8],index=dates)
print s0

2013-01-01     1
2013-01-02     3
2013-01-03     5
2013-01-04   NaN
2013-01-05     6
2013-01-06     8
Freq: D, dtype: float64

In [58]:
df.apply(np.cumsum)

                   A         B         C         D
2013-01-01 -0.924858 -1.132313 -0.437683  1.318022
2013-01-02 -3.132942  0.342139  0.683917 -0.445363
2013-01-03 -2.482196 -0.654285  1.356327 -0.332974
2013-01-04 -3.274950 -0.563758  0.524700 -0.964958
2013-01-05 -3.619300  0.716246  0.726439 -0.916530
2013-01-06 -3.322647  0.011667 -0.486283 -0.817804

In [59]:
df.apply(lambda x: x.max() - x.min())

A    2.858830
B    2.606765
C    2.334322
D    3.081407
dtype: float64

In [60]:
s = pd.Series(np.random.randint(0,7,size=10))
s

0    5
1    3
2    6
3    3
4    1
5    4
6    5
7    3
8    1
9    2
dtype: int64

In [61]:
s.value_counts()

3    3
5    2
1    2
6    1
4    1
2    1
dtype: int64